@import "variables";

body {
  font-family: 'Montserrat';
}

table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid $primary-color;
  thead {
    background-color: $primary-color;
    th {
      padding: 20px 15px;
      text-align: left;
      font-weight: 500;
      font-size: 14px;
      color: $secondary-color;
      text-transform: uppercase;
      select {
        background: $accent-color;
      }
    }

  }
  tbody {
    tr {
      position: relative;
      td {
        color: lighten($secondary-color, 20%);
        padding: 15px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 14px;
      }
    }
  }
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      &:hover, &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

