@import "variables";

.fullWidth {
  width: 100%;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.displayTableRow {
  display: table-row;
}

.customContainer {
  padding: 2% 8%;
}

.marginTopBottom {
  margin: 20px 0;
}

.marginLeftRight {
  margin: 0 20px;
}

.textArea {
  font-family: 'Montserrat';
  font-size: 14px;
  border-color: lighten($secondary-color, 80%) !important;;
  width: 98%;
  padding: 10px;
}

.btn {
  background: $primary-color;
  cursor: pointer;
  line-height: 1.5;
  font-size: 1em;
  padding: 0.5em 1em;
  letter-spacing: 0.05rem;
  color: $accent-color;
  border-color: $primary-color;
  transition: .3s ease-in-out;
  width: 120px;
  &:hover {
    background: $accent-color;
    border-color: $primary-color;
    color: $primary-color;
  }
}

.error {
  color: red;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearBoth {
  clear: both;
}
